h3{
    color:blue;
}
body{
    background-image:url("../images/background.jpg");
    height:100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    font-family: Arial;
}
caption{
    font-weight: 700;
    border: 2px solid black;
}
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}
.center{
    text-align: center;
}
